<section class="container">
    <div class="center">
        <h1>Lista De Post: </h1>
        <div class="post">
            {{#each posts}}
            <h3>{{titulo}}</h3>
            <p>{{conteudo}}</p>
            {{/each}}
        </div>
        <div class="buttons">
            <a href="/post"><Button>Postagem</Button></a>
            <form action="/edit/{{id}}" method="get">
                <button>Atualizar</button>
            </form>
            <a href="/delete/{{id}}">
                <button>Deletar</button>
            </a>

        </div>
    </div>
</section>